---
import { Picture } from "astro:assets";
import ResultContentBlock from "./result-content-block.astro";

interface Props {
  heading_content: string;
  subheading_content: string;
  content_blocks?: Record<string, any>[];
}
const {
  heading_content,
  subheading_content,
  content_blocks = [],
} = Astro.props;
---

<section class="flex flex-col gap-4 p-4">
  <div class="flex-shrink flex flex-row gap-4">
    <div class="flex-1">
      <h1 set:html={heading_content} class="font-outline font-black text-6xl" />
    </div>
    <div class="flex-1">
      <p set:html={subheading_content} class="font-normal text-right" />
    </div>
  </div>
  <div class="flex flex-col gap-4">
    <div class="flex-shrink"></div>
    <div class="flex-grow flex flex-col gap-4">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
        {
          content_blocks.map((content_block_args, index) => (
            <ResultContentBlock
              key={index}
              icon_name={content_block_args.icon_name}
              top_text={content_block_args.top_text}
              oversize_text={content_block_args.oversize_text}
              bottom_text={content_block_args.bottom_text}
              {...content_block_args}
            />
          ))
        }
      </div>
    </div>
  </div>
</section>
