---
interface Props {
  main_text_color: string;
  background_color: string;
  heading_content: string;
  subheading_content: string;
  image: {
    src: string;
    alt: string;
  };
  bottom_text: string;
}
const {
  main_text_color,
  background_color,
  heading_content,
  subheading_content,
  image,
  bottom_text,
} = Astro.props;
const backgroundStyle = background_color
  ? `background-color: ${background_color};`
  : "";
---

<section class={"w-full base-class"} style={backgroundStyle}>
  <div class="p-16 flex flex-col gap-8">
    <!-- Title bar across the width -->
    <div class="flex-1 flex flex-row justify-between">
      <div class="flex-1">
        <h1 set:html={heading_content} class="font-black text-6xl" />
      </div>
      <div class="flex-1 text-right">
        <p set:html={subheading_content} />
      </div>
    </div>

    <!-- Full-width image -->
    <div class="flex-1">
      <img
        src={`../../asses/images/${image.src}`}
        alt={image.alt}
        class="w-full h-auto object-cover"
      />
    </div>

    <!-- Text below image -->
    <div class="text-center font-medium text-base">{bottom_text}</div>
  </div>
</section>

<style define:vars={{ main_text_color }}>
  .base-class {
    color: var(--main_text_color);
  }
</style>
